header {
	.header-bg {
		background-position: 50% 0;
		background-repeat: no-repeat;
		height: 65vh;
		position: relative;
		background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/coffeebeans.jpg);
		background-size: cover;
	}
	.container {
		margin: 0;
		max-width: 100%;
	}
	.logo {
		color: #FCFDE6;
		text-align: center;
		margin: 25px;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	h1 {
		font-size: 90px;
		margin: 0;
		font-weight: 400;
		// text-transform: uppercase;
		font-family: "corner-store",sans-serif;
		text-shadow: 2px 2px 2px #222;
	}
	h2 {
		margin: 0;
		font-size: 16px;
		text-transform: uppercase;
		display: inline-block;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
		background: #FF8B00;
	}
}
