.locations {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	a {
		color: $warmwhite;
		transition: all 0.25s ease-in-out;
		background: rgba($orange, 0.9); 
		display: inline-block;
		padding: 0px 25px;
		&:hover {
			transform: translateY(-5px);
		}
	}
}

.single-location {
	width: 25%;
	padding: 15% 0;
}

.location-info {
	text-align: left;
}

.location-address {
	text-align: left;
	padding: 10px;
}
