.location-container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	.location-link {
		color: $warmwhite;
		transition: all 0.25s ease-in-out;
		background: rgba($orange, 0.9); 
		display: inline-block;
		padding: 0px 25px;
		&:hover {
			transform: translateY(-5px);
		}
	}
}

.location {
	display: flex;
	border-top: 5px solid $orange;
	background: $white;
	padding: 5% 2.5%;
	margin-top: 50px;
	@media all and (max-width: 700px) {
		display: block;
	}
}

.single-location {
	width: 25%;
	padding: 15% 0;
	@media all and (max-width: 800px) {
		width: 50%;
	}
	@media all and (max-width: 500px) {
		width: 100%;
	}
}

.single-location-img {
	width: 45%;
	margin-right: 5%;
	@media all and (max-width: 700px) {
		width: 100%;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.single-location-content {
	@media all and (max-width: 700px) {
		width: 100%;
	}
	h2 {
		margin: 0;
	}
	p {
		margin: 10px 0;
	}
	width: 50%;
	text-align: left;

}

.location-address {
	p {
		color: $orange;
	}
}
