.main {
	background: url(images/wall.png);
	font-family: 'Open Sans', sans-serif;
	p {
		margin: 10px;
		line-height: 1.5;
	}
	.container {
		padding: 30px 0 75px 0;
		text-align: center;
	}
}

.main-home {
	background: $warmwhite;
	font-family: 'Open Sans', sans-serif;
	.container {
		padding: 5% 2.5%;
	}
}

.instagram-container {
	background: $warmwhite;
	padding: 25px 10px;
}

.sbi_photo_wrap {
	box-shadow: 1px 1px 5px lighten($black, 50%);
}