ul.menu {
	margin: 0;
	padding: 2%;
	background: rgba(#eee,0.6);
	text-align: right;
	box-shadow: 1px 1px 1px #222;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #333;
			padding: 10px;
			color: $black;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}