ul.menu {
	margin: 0;
	padding: 2%;
	text-align: center;
	li {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 20px;
		width: 200px;
		border: 2px solid $orange;
		background: rgba($black, 0.5);
		transition: all 0.5s ease;
		@media all and (max-width: 442px) {
			margin-bottom: 5px;
			margin-right: 0;
			width: 100%;
		}
		&:hover {
			background: rgba($black, 0.8);
		}
		a {
			color: $warmwhite;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 18px;
			font-family: 'Oswald', sans-serif;
			letter-spacing: 1px;
		}
	}
}