ul.menu {
	margin: 0;
	padding: 2%;
	// background: rgba(#eee,0.6);
	text-align: center;
	// box-shadow: 1px 1px 1px #222;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: $warmwhite;
			padding: 5px 55px;
			background: rgba($black, 0.5);
			text-transform: uppercase;
			font-weight: 400;
			font-size: 18px;
			font-family: 'Oswald', sans-serif;
			letter-spacing: 1px;
			border: 2px solid $orange;
		}
	}
}