.single-page .backboard {
	margin: 0 auto;
	width: 70%;
	padding: 100px 50px;
	background: rgba($warmwhite, 0.4);
	border-top: 5px solid $orange;
	@media all and (max-width: 600px) {
		padding: 50px 25px;
	}
	@media all and (max-width: 450px) {
		padding: 50px 10px;
	}
}